
		body{
			font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
		}
		html,body{
			height: 100%;
			overflow: hidden;
		}
		h1{
			font-size: 6em;
			font-weight: normal;
		}
		p{
			font-size: 1.5em;
			margin:1em 0 1em 0;
		}
		.nav{
			width: 100%;
			position: fixed;			
			background: rgba(0,0,0,0.5);
			z-index: 5;
			color: #6e8095;
		}
		.smr{float: left;width: 12%; margin-left: 2%; }
		.nav ul{width: 30%; float: right;margin-right: 5%;font-size: 1.5em;}
	    .nav li{float: left;margin-left: 5%;padding: 1em;}
	    .nav a{display: block;}

		#container,.section{
			height: 100%;
			position: relative;
		}
		#section0,
		#section1,
		#section2,
		#section3{
			background-color: #000;
			background-size: cover;
			background-position: 50% 50%;
		}

		#section0{
			background-image: url(../img/1.png);
			color: #fff;
			text-shadow:1px 1px 1px #333;
		}
		.intro{
			position: absolute;
			top: 45%;
			width: 100%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			text-align: center;
		}
		.logo img{width: 150px;height: 150px;border-radius: 50%;}
		.dire{text-align: left;}

		#section1{
			color: #fff;
			text-shadow:1px 1px 1px #333;
			background-image: url(../img/2.jpg);
			text-align: center;
			padding-top: 7%;
		}
		#section1 h1{font-size: 3em;}
		.run{display: block;position: absolute;left: 43%;top: 22%; width: 1px; border-bottom: 3px solid #DFF7A1;}
		.ifm{position: absolute; left: 35%;text-align: left;padding: 3% 10%;}
        .ifm p{opacity: 0;}

		#section2{
			background-image: url(../img/3.jpg);
			color: #fff;
			text-shadow:1px 1px 1px #666;
		}
		#skill{width: 80%;padding: 5% 10%;font-size: 1.5em;text-align: center;}
		#skill ul li{list-style: square;line-height: 1.5em;}
		#skill h1{width: 100%;margin-top: 5%; background: rgba(225,225,225,0.3);text-align: center;font-size: 2em;}
		#item1,#item2,#item3,#item4{
			background-color: white;
			width: 1%;
			padding: 1%;
			margin-top: 2%;
			background: rgba(225,225,225,0.3);
			position: relative;
			text-align: left;
		}
		.item1,.item2,.item3,.item4{
			position: absolute;
			left: 30%;
			display: none;
			border-radius: 8px;
			background: rgba(0,0,0,0.5);
			padding: 0.5% 1.5%;
			z-index: 55;
			text-align: left;
		}
        .item1{top:38%;}
        .item2{top:48%;}
        .item3{top:58.5%;}
        .item4{top:69%;}
		#section3{
			color: #008283;
			background-image: url(../img/7.jpg);
			text-shadow:1px 1px 1px #fff;
		}
		#section0 p{
			color: #F6D7F5;
		}
		#section3 p{
			color: #00A3AF;
		}
		.left{
			float: left;
		}
		
        
		
		#pages{
			position:fixed;
			right: 10px;
			top: 50%;
			list-style: none;
		}
		#pages li{
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: #fff;
			margin: 0 0 10px 5px;
		}
		#pages li.active{
			width: 14px;
			height: 14px;
			border: 2px solid #FFFE00;
			background: none;
			margin-left: 0;
		}
		#section0 .logo{
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			-webkit-animation: sectitle0 1s ease-in-out 100ms forwards;
			animation: sectitle0 1s ease-in-out 100ms forwards;
		}
		#section0 .dire{
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			-webkit-animation: sec0 1s ease-in-out 100ms forwards;
			animation: sec0 1s ease-in-out 100ms forwards;
		}
		@-webkit-keyframes sectitle0{
			0%{
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
			}
			100%{
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
			}
		}
		@keyframes sectitle0{
			0%{
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
			}
			100%{
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
			}
		}
		@-webkit-keyframes sec0{
			0%{
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
			}
			100%{
				-webkit-transform: translateX(43%);
				transform: translateX(43%);
			}
		}
		@keyframes sec0{
			0%{
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
			}
			100%{
				-webkit-transform: translateX(43%);
				transform: translateX(43%);
			}
		}